* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  --primary-color: #f6f1e7;
  --secondary-color: #642d2d;
}

h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "DM Sans", sans-serif;
}
