* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  padding-bottom: 15px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
}
