---
import MainLayout2 from "../layouts/MainLayout2.astro";
import Navigation2 from "../components/Navigation2.astro";
import Footer2 from "../components/Footer2.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/public/imgs/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <title>kkk</title>
  </head>

  <MainLayout2 title="Contact">
    <body class="page">
      <header class="bar"></header>

      <main class="wrap">
        <!--  -->
        <h1>CONTACT</h1>
        <section class="grid_section">
          <div class="contact_tekst">
            <h3>CAFÉ ARABICA</h3>

            <p class="adresse">Blågårdsgade 12, 2200 København N</p>

            <div>
              <h4>Opening Hours</h4>
              <p class="hours">
                Monday – Thursday: 8:00 – 16:00<br />
                Friday: 8:00 – 17:00<br />
                Saturday – Sunday: 9:00 – 17:00
              </p>
            </div>

            <div class="kitchen">
              <p>
                Kitchen closes mon–fri at 15:30<br />
                sat–sun at 16:00
              </p>
            </div>

            <div class="booking">
              <h4>Booking</h4>
              <p>Write to us at the email below. Please specify in the subject line whether your message concerns a booking, a question, feedback, or comments.</p>
            </div>
            <div class="mail">
              <p><strong>arabicacph@gmail.com</strong></p>
            </div>
            <div class="phone">
              <p>You are also welcome to contact us by phone:</p>
              <p><strong>+45 88 75 43 28</strong></p>
            </div>
          </div>

          <div class="contact_billede">
            <img class="contact-img" src="https://wmlxmrpnovuojremqrzo.supabase.co/storage/v1/object/public/img/contact-img3.png" alt="Cafe Arabica" />
          </div>
        </section>
        <!--  -->

        <header class="bar"></header>

        <footer class="bar"></footer>
      </main>
    </body>

    <style>
      main {
        background-color: #642d2d;
        color: #f6f1e7;
        padding: 100px 0;
      }
      .page {
        background: var(--bg);
        color: var(--fg);
      }
      /*Header/footer*/
      .bar {
        background: var(--bg);
      }
      .grid_section {
        padding: 50px 50px 0 50px;
      }
      .contact_tekst {
        text-align: center;
      }

      .hours {
        padding-bottom: 15px;
      }

      .kitchen {
        padding-bottom: 35px;
      }

      .booking {
        padding-bottom: 15px;
      }

      .mail {
        padding-bottom: 15px;
      }

      .phone {
        padding-bottom: 100px;
      }

      h1 {
        text-align: center;
      }

      h4 {
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;
        padding-bottom: 10px;
      }

      h3 {
        padding-bottom: 20px;
        font-size: 2rem;
      }

      .adresse {
        padding-bottom: 50px;
      }
      img {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        height: 600px;
      }

      /* Desktop */
      @media (min-width: 800px) {
        h1 {
          padding-bottom: 50px;
        }
        .grid_section {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 150px;
          align-items: center;
        }
        .contact_tekst {
          text-align: left;
          margin-left: 100px;
        }
        .phone {
          padding-bottom: 10px;
        }
      }
    </style>
  </MainLayout2>
</html>
