---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Frontpage" />

<h1>CHAIMA ER SEJ</h1>
<h2>BATUL ER SEJ</h2>
<h3>HUMIRA ER SEJ</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque atque vitae sint, quis esse deserunt facere obcaecati distinctio non veritatis maiores ducimus excepturi libero aliquid odio officia illo, necessitatibus reprehenderit?</p>
