---
import "../styles/style.css";
const { variant } = Astro.props;
---

<button class={variant}>
  <a href="{}"></a>
</button>

<style>
  .primary {
    border: 2px solid black;
    border-radius: 30px;
    padding: 8px 55px;
    font-size: 0.8rem;
    margin-left: 10px;
  }
</style>
