---
import Navigation2 from "../components/Navigation2.astro";
import Footer2 from "../components/Footer2.astro";
import "../styles/style.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/public/imgs/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Navigation2 />
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <Footer2 />
    </footer>
  </body>
</html>
